<div class="custom-model-main">
        <div class="custom-model-inner">        
            <div class="close-btn"> 
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 20 18" fill="none">
                    <path d="M1 1L19 16.5M19 1L1 16.5" stroke="#184B44" stroke-width="2" stroke-linejoin="round"/>
                  </svg>
            </div>
            <div class="custom-model-wrap">
                <div class="pop-up-content-wrap">
                        <div>
                              <h2 class="model-title">{{ section.settings.modaltop }}</h2>
                              <p class="model-text">{{ section.settings.modalsub }}</p>
                              <p class="model-des">{{ section.settings.modaldes }}</p>
                        </div>
                        
                          
                         <div class="notify_btn ">
                            <a href="{{ section.settings.homeurl }}" class="hrefbtn"> 
                           {{ section.settings.button_home }}
                                <svg xmlns="http://www.w3.org/2000/svg" width="34" height="9" viewBox="0 0 34 9" fill="none" >
                                    <path d="M1.25391 4.5L32.9002 4.5M32.9002 4.5L26.4537 1M32.9002 4.5L26.4537 8" stroke="#184B44" stroke-linecap="round"/>
                                </svg>
                            </a>
                            </div>
                </div>
            </div>  
        </div>  
        <div class="bg-overlay"></div>
      </div> 