<div class="">
      <div class="rebanner" style="background-image:url('{{section.settings.rebanner | img_url:'master'}}');">                  
              <div class="rebanercontent rewordmax_container">
                  <div class="rebannerdetail ">
                    <h2 class="affbanerhead">{{section.settings.rbanehead }}</h2>
                    
                        <div class="revebannerdes affbenner">
                            <h2 class="affbannerdes">{{section.settings.rebanneddes}}</h2>
                        </div>
                    <div class="affbannerbtn">
                            <div class="affbanersign">
                                <a href="{{ section.settings.affbannersuburl }}" class="refferbannorder">{{ section.settings.affbannrsubbtn }}</a>
                            </div>
                            <div class="affbanersiup">
                                <a href="{{ section.settings.affbannrsub1url }}" class="refferbannorder signup">{{ section.settings.affbannrsub1btn }}
                                </a>
                            </div>
                        </div> 
                        
                  </div>

              </div> 
    </div>
</div>
{% schema %} 
{
  "name": "affiliatebanner",
  "tag": "section",
  "class": "affiliatebanner",
  "settings": [
    {
      "type": "text",
      "id": "rbanehead",
      "label": "Heading"
    },
     {
      "type": "text",
      "id": "rebanneddes",
      "label": "Sub Heading"
    },
   {
    "type": "image_picker",
    "id": "rebanner",
    "label": "Image"
      },
      
    {
      "type": "text",
      "id": "affbannrsubbtn",
      "label": "Button"
    },
     {
      "type": "url",
      "id": "affbannersuburl",
      "label": "Button Link"
    },
     {
      "type": "text",
      "id": "affbannrsub1btn",
      "label": "Button"
    },
     {
      "type": "url",
      "id": "affbannrsub1url",
      "label": "Button Link"
    }
  ],

 "presets": [
    {
      "name": "affiliatebanner"
    }
  ]
}

{% endschema %}
<style>
h2.affbanerhead{
        font-family: 'Oakley Script';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 57px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 22%;
    margin-bottom: 0;
}
h2.affbannerdes {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 5%;

}
.affbannerbtn{
    display:flex;
}
.affbanersign{
    border: 2px solid #FFFFFF;
    border-radius: 25.5px;
    padding: 7px 80px 7px 22px;
    background: #F5F8F1;
    margin-right: 1%;
}
.affbanersign a {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #184B44;
    text-decoration: none;
}
.affbanersign svg{
        margin-left: 85px;
}
  .affbanersiup {
    border: 2px solid #FFFFFF;
    border-radius: 25.5px;
    padding: 7px 80px 7px 22px;
}
  a.refferbannorder.signup {
    color: #fff;
}
@media screen and (max-width: 991px) {
  h2.affbanerhead{
    width: 45%;
  }
}
@media screen and (max-width: 768px){
.revebannerdes.affbenner {
    width: 80%;
}
}
@media screen and (max-width: 620px){
.revebannerdes.affbenner {
    width: 80%;
}
h2.affbanerhead {
    width: 65%;
}
}

@media screen and (max-width: 520px){
  h2.affbanerhead{
    font-size:45px;
  }
  }
  @media screen and (max-width: 420px){
    h2.affbanerhead {
    width: 98%;
}
  }
</style>
 