<div class="cmax_container">
    <div class="benefittext">
            <h2 class="bhead">{{section.settings.bhead}}</h2>
            <p class="bdes">{{section.settings.bsubhead}}</p>
    </div>
     <div class="benefit_flex">
        {%- for block in section.blocks -%}
                <div class="benefitblog">
                  <img src="{{block.settings.benefitimg |img_url:'800x'}}" class="benefit_image">
                        <h3 class="benefithead">{{block.settings.benefit_head}}</h3>
                        <p class="benefitdes">{{block.settings.benefit_desc}}</p>
                </div>
         {%- endfor -%}
</div>
{% schema %}
{
  "name": "Benefits",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "bhead",
      "label": "Heading"
    },
      {
      "type": "text",
      "id": "bsubhead",
      "label": "Sub Heading"
    }
  ],
   "blocks": [
     
  {
    "type": "block",
    "name": "block",
    "settings": [
      {
        "type":"image_picker",
        "id":"benefitimg",
        "label":"Image"
      },
       {
    "type": "text",
    "id": "benefit_head",
    "label": "Heading"
      }
      , {
    "type": "text",
    "id": "benefit_desc",
    "label": "Description"
      }
    ]
  }
    ],
 "presets": [
    {
      "name": "Benefits"
    }
  ]
}
{% endschema %}