{% style %}
h2.bloghead {
  text-align: center;
  font-size: 38px;
  font-weight: 400; 
}
.b_img img {
  border-radius: 20px;
}
.blogflex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blog33 {
  width: 31.33%;
}
.bcontent{
  border-radius: 20px;
  border: 1px solid white;
  transform: translateY(-15%);
  text-align: center;
  margin: 0 12%;
  background-color: #fff;
}
.blogbodr {
  padding-bottom: 25px;
}
.blogbodr a{
  border: 2px solid #cbcab5;
  padding: 14px 38px;
  border-radius: 40px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}
h4.blogtitle {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 3.2px;
}
h2.blogshead {
  font-size: 38px;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 0px;
  word-spacing: -3.8px;
  line-height: 37px;
}
p.blogdesc {
  font-size: 14px;
  color: rgb(0 0 0 / 79%);
  letter-spacing: 2.1px;
  line-height: 20px;
  margin-bottom: 12%;
}
  @media screen and (max-width: 991px) {
    .blog33 {
  width: 48%;
   margin: 0 auto;
    }
    h2.blogshead {
  font-size: 32px; 
    }
  }
  @media screen and (max-width: 618px) {
     .blog33 {
  width: 100%; 
   margin: 0 auto;
    }
  }
    @media screen and (max-width: 375px) {
    h2.blogshead {
        font-size: 27px;
    }
      p.blogdesc {
      font-size: 12px;
      line-height: 17px;
      }
      h4.blogtitle {
  font-size: 12px;
  letter-spacing: 3.2px;
      }
      .blogbodr a {
  padding: 11px 26px;
  font-size: 12px;
    }
}
{% endstyle %}


<div class="max-containers bg-white">
  <h2 class="bloghead">{{ section.settings.blogid}}</h2>
<div class="blogflex">
  {% for block in section.blocks %}
      <div class="blog33">
        <div class="b_img">
          <img src="{{ block.settings.blogimg|img_url: '800x' }}">
        </div>
        <div class="bcontent">
            <h4 class="blogtitle">{{ block.settings.btitle }}</h4>
            <h2 class="blogshead">{{ block.settings.bhead }}</h2>
            <p class="blogdesc">{{ block.settings.blogdes }}</p>
               <div  class="blogbodr">
                  <a href="{{ block.settings.blogbtn }}">{{ block.settings.bloggbtn }}➞</a>
               </div>
        </div>
      </div>
    {% endfor %}
</div>
</div>


{% schema %}
{
  "name": "blogs",
  "settings": [
    {
     "type":"text",
    "id":"blogid",
    "label":"Heading"
    }
  ],
     "blocks": [
    {
  "type": "Blog",
  "name": "Blog",
  "settings": [
          {
   "type": "image_picker",
  "id": "blogimg",
  "label": "Image"
    },
    {
      "type": "text",
      "id": "btitle",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "bhead",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "blogdes",
      "label": "Description"
      },
        {
        "type": "url",
        "id": "blogbtn",
        "label": "see more link"
      },
        {
      "type": "text",
      "id": "bloggbtn",
      "label": "button"
      }
      
    ]
  }
],
  "presets": [
    {
      "name": "blogs"
      
    }
  ]
}
{% endschema %}

