  <div class="cmax_container">
         <div class="modulecontent">
                <h2 class="moduletext">{{section.settings.m_head}}</h2>
                <h2 class="moduledesc">{{section.settings.m_des}}</h2>
         </div>
           <div class="flex-fees">
                   <p class="pfeesdec">{{section.settings.moduledesc}}</p>
                   <p class="pfeesdec">{{section.settings.moduledesc1}}</p>
            </div>
            <diV class="moduleparagr">
              <p class="modelepara">{{section.settings.modulepare}}</p>
             </div>
  </div>
{% schema %}
  {
    "name": "module",
    "settings": [
          {
    "type": "text",
    "id": "m_head",
    "label": "Heading"
      },   {
    "type": "text",
    "id": "m_des",
    "label": "Description"
      },
       {
    "type": "text",
    "id": "modulepare",
    "label": "Sub Text"
      },
      {
         "type": "text",
      "id": "moduledesc",
      "label": "Description"
    },{
         "type": "text",
      "id": "moduledesc1",
      "label": "Description"
    }
      
    ],
   
    "presets": [
    {
    "name": "module"
    }
    ]
  }
{% endschema %}
<style>
p.modelepara {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #1E1E1E;
    width: 80%;
    margin: 0 auto;
}
h2.moduletext{
  margin-bottom: 10px;
}
.modulecontent {
    margin-top: 8%;
}
.moduleparagr {
    margin-bottom: 6%;
}
</style>