<div class="cmax_container">
        <div class="course_detail1">
        <h2 class="">{{section.settings.coursehead}}</h2>
        </div>
        <div class="course_flex ">
           
           
                {% for block in section.blocks %}
                    <div class="cslidedetail">
                        <div class="cslidetext">
                            <div class="coursing">
                                <img src="{{ block.settings.cousimg|img_url: '800x' }}">
                            </div>
                            <div class="slidewidth">
                                <h3 class="slidertext">{{block.settings.courtext}}</h3>
                            </div>
                        </div>
                            <div class="linkslide">
                                <h2 class="linkdetail">{{block.settings.linktext}}</h2>
                                    <div class="advice_btn">
                                        <a class="linkpagge" href="{{ block.settings.linkiid}}">{{block.settings.linktextbtn}}
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12" fill="none">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.2244 0.558058C9.46848 0.313981 9.86421 0.313981 10.1083 0.558058L15.1083 5.55806C15.3524 5.80214 15.3524 6.19786 15.1083 6.44194L10.1083 11.4419C9.86421 11.686 9.46848 11.686 9.2244 11.4419C8.98032 11.1979 8.98032 10.8021 9.2244 10.5581L13.1575 6.625H1.33301C0.98783 6.625 0.708008 6.34518 0.708008 6C0.708008 5.65482 0.98783 5.375 1.33301 5.375H13.1575L9.2244 1.44194C8.98032 1.19786 8.98032 0.802136 9.2244 0.558058Z" fill="#49AF78"></path>
                                            </svg>
                                        </a>
                                    </div>
                            </div>
                            
                        
                    </div>
                {% endfor %}
            
            
        </div>
        <div class="advice_btn">
                    <a class="linkpagge" href="{{ section.settings.moreadviceid}}">{{section.settings.moreadvicebtn}}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.2244 0.558058C9.46848 0.313981 9.86421 0.313981 10.1083 0.558058L15.1083 5.55806C15.3524 5.80214 15.3524 6.19786 15.1083 6.44194L10.1083 11.4419C9.86421 11.686 9.46848 11.686 9.2244 11.4419C8.98032 11.1979 8.98032 10.8021 9.2244 10.5581L13.1575 6.625H1.33301C0.98783 6.625 0.708008 6.34518 0.708008 6C0.708008 5.65482 0.98783 5.375 1.33301 5.375H13.1575L9.2244 1.44194C8.98032 1.19786 8.98032 0.802136 9.2244 0.558058Z" fill="#49AF78"></path>
                        </svg>
                    </a>
            </div>
    </div>


{% schema %}
  {
    "name": "pet_advice",
    "settings": [
          {
    "type": "text",
    "id": "coursehead",
    "label": "Heading"
      },  
      {
    "type": "url",
    "id": "moreadviceid",
    "label": "Link Text"
      },
       {
    "type": "text",
    "id": "moreadvicebtn",
    "label": "Button"
      }

    ],
    "blocks": [
  {
    "type": "collection",
    "name": "Collection",
    "settings": [
     

       {
    "type": "image_picker",
    "id": "cousimg",
    "label": "Image"
      },
         {
    "type": "text",
    "id": "courtext",
    "label": "Detail"
      },
       {
    "type": "text",
    "id": "linktext",
    "label": "Slider Heading"
      },
       {
    "type": "url",
    "id": "linkiid",
    "label": "Link Text"
      },
       {
    "type": "text",
    "id": "linktextbtn",
    "label": "Button"
      }
    ]
  }
    ],
    "presets": [
    {
    "name": "pet_advice"
    }
    ]
  }
{% endschema %}


